# Since the ".env" file is gitignored, you can use the ".env.example" as blueprint

# This file will be committed to version control, so make sure not to have any
# secrets in it.

NEXT_PUBLIC_BASE_URL=